%h1 Your events:
%table.table.table-condensed
  %thead
    %tr
      %th= 'Event'
      %th= 'Status'
  %tbody
    - events.each do |event|
      %tr
        %td= link_to event.name, event
        %td= evaluation_status(event)
